<h3 class="text-center ">Enjoy our recipes:</h3>
<ul id="public-recipes" class="flex flex-col m-auto text-center">
  <% @public_recipes.each do |recipe| %>
    <li>
      <%= link_to recipe_path(recipe) do %>
        <h3 class="font-bold font-xl">
          <%= recipe.name %>
        </h3>
        <p class="font-ms">
          By: <%= recipe.user.name %>
        </p>
        <span>
          Total food items: <%= recipe.foods.size %>
        </span>

        <span>
          Total price: <%= recipe.price %>
        </span>
        <% end %>
    </li>
  <% end %>
</ul>