<%= form_with model: @recipe, id: 'recipe-form', url: recipes_path, method: :post, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :preparation_time %><br />
    <%= f.number_field :preparation_time, placeholder: 'Enter the time in minutes...' %>
  </div>

  <div>
    <%= f.label :cooking_time %><br />
    <%= f.number_field :cooking_time, placeholder: 'Enter the time in minutes...' %>
  </div>

  <div>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.check_box :public %>
    <%= f.label :public %><br />
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>