<div id="recipe-details">
  <h2><%= @recipe.name %></h2>
  <small><%= @recipe.public? ? 'Public' : 'Private' %></small>
  <p>
    Preparation time: <%= @recipe.preparation_time %> minutes
  </p>
  <p>
    Cooking time: <%= @recipe.cooking_time %> minutes
  </p>
  <p>
    <%= @recipe.description %>
  </p>

  <%= link_to "Generate shopping list", shopping_list_path %>
  <% if @recipe.user_id == current_user.id %>
    <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe), data: {turbo: false} %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ing| %>
        <tr>
          <td><%= ing.food.name %></td>
          <td><%= ing.quantity %></td>
          <td><%= ing.food.price * ing.quantity %></td>
          <td><%= link_to "Remove" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>