<div id="recipe-details" class="flex flex-col min-h-[90vh] max-h-screen items-center justify-center">
  <div class="my-8 flex flex-col justify-center items-center">
    <h2 class="font-bold text-2xl text-center"><%= @recipe.name %></h2>
    <small><%= @recipe.public? ? 'Public' : 'Private' %></small>
  </div>
  <div class="flex gap-12 mb-6">
    <p class="text-xl">
      Preparation time: <%= @recipe.preparation_time %> minutes
    </p>
    <p class="text-xl">
      Cooking time: <%= @recipe.cooking_time %> minutes
    </p>
  </div>
  <p class="mb-8">
    <%= @recipe.description %>
  </p>
<div class="flex gap-8 mb-8">
  <%= link_to "Generate shopping list", shopping_list_path, class: 'btn-primary' %>
  <% if @recipe.user_id == current_user.id %>
    <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe), class: 'btn-primary' %>
  <% end %>
</div>
  <table class="bg-white border border-gray-100 round p-2 mx-auto">
    <thead>
      <tr>
        <th class="p-1 text-center">Food</th>
        <th class="p-1 text-center">Quantity</th>
        <th class="p-1 text-center">Value</th>
        <% if @recipe.user_id == current_user.id %> <th class="p-1 text-center">Actions</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ing| %>
        <tr class="p-2 text-center"> 
          <td class="p-2 text-center border border-gray-300"><%= ing.food.name %></td>
          <td class="p-2 text-center border border-gray-300"><%= ing.quantity %></td>
          <td class="p-2 text-center border border-gray-300"><%= (ing.food.price * ing.quantity).round(2) %></td>
          <% if @recipe.user_id == current_user.id %>
           <td class="p-2 text-center"><%= button_to "Remove", recipe_recipe_food_path(@recipe, ing), {method: :delete, data: { turbo: false }, class: 'btn-primary'} %>
          </td> <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>