<tr id= <%= food.id %>>
        <td><%=food.name %></td>
        <td><%=food.measurement_unit %></td>
        <td><%=food.price %></td>
        <td>
          <%= button_to "Delete", food_path(food.id), method: :delete, data: { turbo: false } %>
        </td>
</tr>