<div>
  <h3>Add Food:</h3>
  <%= form_with model: @food, url: foods_path, method: :post, local: true, data: {turbo: false}, id: "new-food-form" do |f| %>
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name, label:'Name', placeholder: 'Add the food name...', required: true %><br>

    <%= f.label :measurement_unit, 'Measurement unit' %><br>
    <%= f.text_field :measurement_unit, placeholder: 'Add the measurement unit...' %><br>

    <%= f.label :price, 'Price' %><br>
    <%= f.text_field :price, placeholder: 'Add the price...', required: true %><br>

    <%= f.label :quantity, 'Quantity' %><br>
    <%= f.text_field :quantity, placeholder: 'Add the quantity...', required: true %><br>

    <%= f.submit "Add new Food" %>
  <% end %>
</div>