<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200 min-h-[90vh]">
    <% if user_signed_in? %>
    <header class="fixed w-full top-0 flex justify-between items-center px-4 py-3 bg-gray-500 shadow-lg">
      <h2 class="text-lg font-bold text-white">Hello <%= current_user.name %></h3>
      <nav class="flex-1">
        <ul class="flex justify-evenly items-center">
          <li class="text-white">
          <%= link_to "Recipes", recipes_path %> 
          </li>
          <li class="text-white">
          <%= link_to "Foods", foods_path %>
          </li>
          <li class="text-white">
            <%= link_to "Shopping list", shopping_list_path %>
          </li>
          <li class="text-white">
            <%= link_to "Public recipes", public_recipes_path %>
          </li>
        </ul>
      </nav>
      <%= button_to "Logout", destroy_user_session_path, { data: { turbo: false }, class: 'btn-primary', method: :delete } %>
    </header>
    <% end %>

    <div id="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <main class="mt-20">
      <%= yield %>
    </main>
  </body>
</html>