<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false } %> 
      <nav>
        <div><h3>Hello <%= current_user.name %></h3></div>
        <ul>
          <li>
          <%= link_to "Recipes", recipes_path %> 
          </li>
          <li>
          <%= link_to "Foods", foods_path %>
          </li>
          <li>
            <%= link_to "Shopping list", shopping_list_path %>
          </li>
          <li>
            <%= link_to "Public recipes", public_recipes_path %>
          </li>
        </ul>
      </nav>
    <% end %>

    <div id="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <%= yield %>
  </body>
</html>
